.header{
  height: 56px;
  border: dashed rgba(128, 128, 128, 0.185) 2px;
  border-top:none;
  border-radius:16px;
  display: flex;
  font-family: 'Avenir Next Cyr';
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.842);
}

.header__left{
  display: flex;
}

.header__left-cross-x, .header__left-cross-undo, .header__left-cross-redo{
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.header__left-cross-x{
  background-image: url("../images/X.png");
}
.header__left-cross-undo{
  background-image: url("../images/undo.png");
}

.header__left-cross-redo{
  background-image: url("../images/redo.png");
}

.header__right{
  display: flex;
}

.save_img{
  background-color: #12A3F8;
  border-radius: 24px;
  width: 100px;
  height: 40px;
  color: white;
  border:#12A3F8;
  font-size: 16px;
  margin-right: 7px;
  margin-top: 8px;
}

.reset_all{
  background-color: #0b6396;
  border-radius: 24px;
  width: 100px;
  height: 40px;
  color: white;
  border:#12A3F8;
  font-size: 16px;
  margin-right: 7px;
  margin-top: 8px;
}

.name__project{
  font-size: 20px;
  margin-top: 17px;
  font-weight: bold;
  font-family: Avenir Next;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.save_img:hover{
  background-color: #12a4f8d2;
  cursor: pointer;
}

.save_img:active{
  background-color: #076ba5e5;
  cursor: pointer;
}

.reset_all:hover{
  background-color: #12a4f8d2;
  cursor: pointer;
}

.reset_all:active{
  background-color: #076ba5e5;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100vh - 100px);
  margin-top: 90px;
  height: 740px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  box-sizing: border-box;
  border: 2px solid rgba(78, 78, 78, 0.185);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.842);
}

.left-sidebar .first_chooses,
.left-sidebar .second_chooses {
  display: flex;
  flex-direction: column;
}

.first_chooses{
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(78, 78, 78, 0.185);
}

.crop_button,.resize_button,.rotate_button,.adjust_button,
.filter_button,.text_button,.decorate_button{
  height: 40px;
  border:none;
  font-size: 16px;
  display: flex;
  padding: 10px 8px;
  background-color: white;
  cursor: pointer;
}

.active{
  color: #12A3F8;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.left-sidebar{
  width: 15%;
  padding: 16px;
}

.right-sidebar {
  width: 17%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  padding: 10px; 
  box-sizing: border-box; 
}


.input_width, .input_height{
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 2px solid rgba(78, 78, 78, 0.185);
  margin-top: 4px;
  padding: 8px 12px;
  font-size: 17px;
  color: black;
}

.sidebar__height,.sidebar__width{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.submit_button{
  width: 80px;
  height: 40px;
  background-color: #12A3F8;
  border-radius: 16px;
  border:none;
  color: white;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

.submit_button:hover, .submit_rotate:hover, .submit_adjust:hover{
  background-color: #12a4f8d2;
  cursor: pointer;
}

.submit_button:active,.submit_adjust:active,.submit_rotate:active{
  background-color: #076ba5e5;
  cursor: pointer;
}

.submit_adjust{
  width: 80px;
  height: 40px;
  background-color: #12A3F8;
  border-radius: 18px;
  border:none;
  color: white;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 65px;
  cursor: pointer;
}

.submit_rotate{
  width: 80px;
  height: 40px;
  background-color: #12A3F8;
  border-radius: 18px;
  border:none;
  color: white;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

.sidebar__height{
  margin-top: 16px;
}

.sidebar__resize{
  font-size: 18px;
}

.hidden {
  display: none;
}

.center-content {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#dropArea {
  border: dashed rgba(128, 128, 128, 0.185) 2px;
  border-radius: 10px;
  text-align: center;
  width: 1100px;
  height: 640px;
  transition: border-color 0.3s, background-color 0.3s, display 0.3s;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.842);
}

#dropArea p {
  font-size: 16px;
}

#dropArea.dragover {
  border: dashed rgba(18, 163, 248, 1) 2px;
}

.text_gray{
  color:#7B828E;
  margin-top: 2px;
}

.add-image_button{
  background-image: url(../images/center\ button.png);
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  margin-bottom: 12px;
  cursor: pointer;
}

.sidebar__checkbox{
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.sidebar_adjusts{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 210px;
}

.sidebar_adjusts:last-child{
  margin-bottom: 10px;
}

.sidebar_adjusts label{
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

.crop_ratio{
  width: 160px;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.418);
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.crop_ratio:focus{
  outline: none;
}

.crop_ratio:focus-visible{
  border: 2px solid rgba(18, 163, 248, 1);
}

.sidebar_adjusts input[type="range"] {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 10px;
  background-color: rgba(237, 237, 237, 1);
}

.checkbox{
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: rgba(18, 163, 248, 1);
}

.crop_title{
  display: flex;
  margin-bottom: 5px;
}

.choose_crop{
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 5px;
}

.horizontal, .vertical{
  width:74px;
  height: 74px;
  border: 1px solid rgba(128, 128, 128, 0.418);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: white;
}

.horizontal{
  background-image: url(../images/horizontal.png);
}

.vertical{
  background-image: url(../images/vertical.png);
}

.horizontal:focus,.vertical:focus{
  border: 2px solid rgba(18, 163, 248, 1);
}

.save_crop-button{
  width: 80px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 24px;
  border: none;
  background-color:rgba(18, 163, 248, 1);
  color: white;
  font-size:16px;
  margin-top: 10px;
  cursor: pointer;
}

.save_crop-button:hover{
  background-color: #12a4f8d2;
  cursor: pointer;
}

.decorate_chooses{
  display: flex;
  gap:16px;
  margin-bottom: 10px;
}

.decorate_label{
  display: flex;
  font-size: 18px;
  margin-bottom: 4px;
}

.circle_button,.rect_button{
  width: 74px;
  height: 74px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.418);
  border-radius: 8px;
}

.circle_button{
  background-image: url(../images/1shapes.png);
}

.circle_button:focus, .rect_button:focus{
  border: 2px solid rgba(18, 163, 248, 1);
}

.rect_button{
  background-image: url(../images/2shape.png);
}

.color_picker{
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
}

.color_info{
  display: none; 
  font-size: 16px;
}

.color_info-label{
  margin-top: 8px;
  margin-right: 20px;
}

.color_info-label_hex{
  margin-top: 8px;
  margin-right: 7px;
}

.save_crop-button:active{
  background-color: #076ba5e5;
  cursor: pointer;
}

.rotate-left, .rotate-right, .flip-horizontal, .flip-vertical{
  width: 74px;
  height: 56px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.418);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.rotate-left{
  background-image: url(../images/rot-right.png);
  margin-right: 16px;
  margin-bottom: 16px;
}

.rotate-right{
  background-image: url(../images/rot-left.png);
}

.flip-horizontal{
  background-image: url(../images/flip-hor.png);
  margin-right: 16px;
  margin-bottom: 5px;
}

.flip-vertical{
  background-image: url(../images/flip-ver.png);
}

.rotate-left:focus, .rotate-right:focus, .flip-horizontal:focus, .flip-vertical:focus{
  border: 2px solid rgba(18, 163, 248, 1);
}

.rotate_title,.flip_title{
  display: flex;
  margin-bottom: 8px;
  font-size: 17px;
}

.checkbox__label{
  font-size: 20px;
}

#dropArea.dragover {
  border: dashed rgba(18, 163, 248, 1) 2px;
}

#dropArea.hidden {
  display: none;
}

.none_filter, .bandw_filter, .sepia_filter, .vintage_filter{
  width: 74px;
  height: 74px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.418);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sidebar_filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.bandw_filter{
  background-image: url(../images/sepia.jpg);
}

.sepia_filter{
  background-image: url(../images/bandw.jpg);
}

.none_filter{
  margin-bottom: 7px;
  background-image: url(../images/none.jpg);
}

.vintage_filter{
  background-image: url(../images/vintage.jpg);
}

.filter_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.none{
  margin-bottom: 18px;
}

.bandw{
  margin-bottom: 5px;
}

.vintage_filter,.sepia{
  margin-bottom: 5px;
}

.none_filter:focus, .bandw_filter:focus, .sepia_filter:focus, .vintage_filter:focus{
  border: solid rgba(18, 163, 248, 1) 2px;
}

.footer{
  height: 56px;
  border: dashed rgba(128, 128, 128, 0.185) 2px;
  border-bottom:none;
  border-radius:10px;
  background-color: rgba(255, 255, 255, 0.842);
}
